*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  height: 80vh;
}
body {
  background: rgb(255, 255, 255);
  font-family: "Helvetica Neue",Helvetica,Arial;
}
.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.links {
  background: #fff;
  width: max-content;
  padding: 1rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  line-height: 1.5rem;
}

.color {
  display: flex;
  flex-flow: column;
  h1 {
    font-size: 6rem;
    background: #fff;
    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 0rem rgba(0, 0, 0, 0.8);

  }
  @media screen and (max-width: 768px) {
    h1 {
      padding: 3rem;
      font-size: 2rem;
      width: 100%;
      // padding-left: 1.2rem;
      text-align: center;
      margin: 0 auto;
    }
    
  }
}

button {
  width: 30vw;
  padding: 1rem;
  border: none;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: "Helvetica Neue",Helvetica,Arial;
  // font-variant: small-caps;
  box-shadow: 3px 3px 0rem rgba(0, 0, 0, 0.8);
  &:active {
    box-shadow: 2px 2px 0rem rgba(0, 0, 0, 0.8);
  }
}

.clicky {
  // width: 100vw;
  // display: flex;
  // justify-content: flex-end;
  padding-top: 50px;
  width: max-content;
}

// tooltip 

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  top: 0%;
  left: 25%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  height: 5vh;
  margin: 0 auto;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  width: 30vw;
  margin: 0 auto;
}

.toolBtn {
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.app__wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}